body{
   background-color: aqua; 

}

.Menu{
   text-align: center;
   background-color: #FFFFFF;

}
a:visited{
   color: #0000FF;
}

.Game{
display: flex;
flex-wrap: wrap ;
justify-content: space-evenly ;
margin-left: 50px ;
margin-right: 50px ;

}


